automanager4eventsV2.json
{
  "name": "Laurel Catering v2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a8594ed3-cea6-4790-b8c9-f0b238245b80",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "Puede ser una buena opción intervención humana cuando ya tienes todos los grupos creados para que veas que personas no hemos podido encontrar en la base de datos, así si hay algún camarero conocido que haya puesto mal su número de tlf le podemos volver a introducir",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        832,
        -496
      ],
      "id": "b0e11c4f-c298-4fb3-8f11-29ce0e928e9d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Aunque contesten que no tenemos que actualizar que siguen queriendo currar (actualizamos la columna de updated at)"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        576,
        560
      ],
      "id": "2ae79414-f4e9-4e1e-9b3b-50425d40f6c2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Añadir el filtro OR nombre",
        "height": 80,
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1216,
        -416
      ],
      "id": "cb4ff158-5b27-4843-83af-44b008c7d76b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AfglQgYS2fHIFerbdmoCKsI0iUPRUeEehAKbxPq-3xQ",
          "mode": "list",
          "cachedResultName": "Encuesta_prueba",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AfglQgYS2fHIFerbdmoCKsI0iUPRUeEehAKbxPq-3xQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "20/06/2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AfglQgYS2fHIFerbdmoCKsI0iUPRUeEehAKbxPq-3xQ/edit#gid=0"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        -256
      ],
      "id": "dfe45fb2-47aa-4fbe-9fb4-9d373654518f",
      "name": "Encuesta",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hFR90SOt5vNH1Zry",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1JTzEuB94XDkEdJvHwcTm8jP7Sg4r-ciJo4sI1rVX_z4",
          "mode": "list",
          "cachedResultName": "Camareros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JTzEuB94XDkEdJvHwcTm8jP7Sg4r-ciJo4sI1rVX_z4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JTzEuB94XDkEdJvHwcTm8jP7Sg4r-ciJo4sI1rVX_z4/edit#gid=0"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        0
      ],
      "id": "31b91de4-567b-47af-824b-b104897780de",
      "name": "BD_Camareros",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hFR90SOt5vNH1Zry",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IKQkIsSfQZznXeLMLP8OZjQXe5Rf2AzGs8m4uODDcQk",
          "mode": "list",
          "cachedResultName": "Eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IKQkIsSfQZznXeLMLP8OZjQXe5Rf2AzGs8m4uODDcQk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Events",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IKQkIsSfQZznXeLMLP8OZjQXe5Rf2AzGs8m4uODDcQk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        352
      ],
      "id": "75ec2f7f-d2fb-4fe8-8295-f790fee12b4f",
      "name": "Eventos",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hFR90SOt5vNH1Zry",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const disponibilidad = $items(\"Encuesta\").map(item => item.json);\nconst camareros = $items(\"BD_Camareros\").map(item => item.json);\nconst eventos = $items(\"Eventos\").map(item => item.json);\n\nfunction clean(value) {\n  return String(value ?? \"\").trim();\n}\n\nfunction upper(value) {\n  return clean(value).toUpperCase();\n}\n\nfunction toNumber(value) {\n  const n = Number(String(value ?? \"\").replace(\",\", \".\"));\n  return Number.isNaN(n) ? 0 : n;\n}\n\nfunction normalizeDate(value) {\n  const v = clean(value);\n\n  if (/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(v)) return v;\n\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(v)) {\n    const [y, m, d] = v.split(\"-\");\n    return `${d}/${m}/${y}`;\n  }\n\n  return v;\n}\n\nfunction normalizeText(value) {\n  return clean(value)\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase();\n}\n\n// 1. Índice de BD de camareros por teléfono\nconst camarerosPorTelefono = {};\n\nfor (const c of camareros) {\n  const telefono = clean(c.telefono);\n  if (!telefono) continue;\n\n  camarerosPorTelefono[telefono] = {\n    telefono,\n    nombre: clean(c.nombre),\n    fecha_alta: clean(c.fecha_alta),\n    horas_trabajadas: toNumber(c.horas_trabajadas),\n    nota: toNumber(c.nota),\n    fecha_ultimo_evento: clean(c.fecha_ultimo_evento),\n    activo: upper(c.activo),\n    verificado: upper(c.verificado),\n  };\n}\n\n// 2. Filtrar eventos NEW reales\nconst eventosNew = eventos\n  .filter(e => clean(e.event_id) !== \"\")\n  .filter(e => upper(e.estado) === \"NEW\");\n\n// 3. Agrupar eventos por fecha\nconst eventosPorFecha = {};\n\nfor (const e of eventosNew) {\n  const fecha = normalizeDate(e.fecha);\n  if (!fecha) continue;\n\n  if (!eventosPorFecha[fecha]) {\n    eventosPorFecha[fecha] = [];\n  }\n\n  eventosPorFecha[fecha].push({\n    event_id: clean(e.event_id),\n    fecha,\n    hora_inicio: clean(e.hora_inicio),\n    hora_fin: clean(e.hora_fin),\n    tipo: clean(e.tipo),\n    nombre_evento: clean(e.nombre_evento),\n    ubicacion: clean(e.ubicacion),\n    asistentes: toNumber(e.asistentes),\n    camareros_necesarios: toNumber(e.camareros_necesarios),\n    estado: clean(e.estado),\n    prioridad: toNumber(e.prioridad),\n    observaciones: clean(e.observaciones),\n  });\n}\n\n// 4. Procesar disponibilidad por fecha\nconst salida = [];\n\nfor (const [fecha, listaEventos] of Object.entries(eventosPorFecha)) {\n  const respuestasDia = disponibilidad.filter(\n    d =>\n      normalizeDate(d.fecha_evento) === fecha &&\n      upper(d.disponible) === \"SI\"\n  );\n\n  const camarerosValidos = [];\n  const incidencias = [];\n  const telefonosYaIncluidos = new Set();\n\n  for (const d of respuestasDia) {\n    const telefono = clean(d.telefono);\n    const nombreEncuesta = clean(d.nombre);\n    const tieneCoche = upper(d.tiene_coche) === \"SI\";\n    const observaciones = clean(d.observaciones);\n\n    if (!telefono) {\n      incidencias.push({\n        telefono: \"\",\n        nombre_encuesta: nombreEncuesta,\n        fecha,\n        motivo: \"TELEFONO_VACIO\",\n      });\n      continue;\n    }\n\n    const ficha = camarerosPorTelefono[telefono];\n\n    if (!ficha) {\n      incidencias.push({\n        telefono,\n        nombre_encuesta: nombreEncuesta,\n        fecha,\n        motivo: \"NO_ENCONTRADO_EN_BD\",\n      });\n      continue;\n    }\n\n    if (ficha.activo !== \"SI\") {\n      incidencias.push({\n        telefono,\n        nombre_encuesta: nombreEncuesta,\n        nombre_bd: ficha.nombre,\n        fecha,\n        motivo: \"NO_ACTIVO\",\n      });\n      continue;\n    }\n\n    if (ficha.verificado !== \"SI\") {\n      incidencias.push({\n        telefono,\n        nombre_encuesta: nombreEncuesta,\n        nombre_bd: ficha.nombre,\n        fecha,\n        motivo: \"NO_VERIFICADO\",\n      });\n      continue;\n    }\n\n    if (\n      nombreEncuesta &&\n      ficha.nombre &&\n      normalizeText(nombreEncuesta) !== normalizeText(ficha.nombre)\n    ) {\n      incidencias.push({\n        telefono,\n        nombre_encuesta: nombreEncuesta,\n        nombre_bd: ficha.nombre,\n        fecha,\n        motivo: \"NOMBRE_DISTINTO\",\n      });\n    }\n\n    if (telefonosYaIncluidos.has(telefono)) {\n      continue;\n    }\n\n    telefonosYaIncluidos.add(telefono);\n\n    camarerosValidos.push({\n      telefono,\n      nombre: ficha.nombre,\n      tiene_coche: tieneCoche,\n      observaciones: observaciones,\n      fecha_alta: ficha.fecha_alta,\n      horas_trabajadas: ficha.horas_trabajadas,\n      nota: ficha.nota,\n      fecha_ultimo_evento: ficha.fecha_ultimo_evento,\n      activo: ficha.activo,\n      verificado: ficha.verificado,\n    });\n  }\n\n  // Orden opcional útil para el siguiente paso:\n  // mejor nota primero, y en empate menos horas trabajadas\n  camarerosValidos.sort((a, b) => {\n    if (b.nota !== a.nota) return b.nota - a.nota;\n    return a.horas_trabajadas - b.horas_trabajadas;\n  });\n\n  listaEventos.sort((a, b) => a.prioridad - b.prioridad);\n\n  salida.push({\n    json: {\n      fecha,\n      eventos: listaEventos,\n      total_eventos: listaEventos.length,\n      camareros_validos: camarerosValidos,\n      total_camareros_validos: camarerosValidos.length,\n      incidencias,\n      total_incidencias: incidencias.length,\n    }\n  });\n}\n\nreturn salida;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "23196114-6947-496b-ad3c-7d72a3e87e42",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un sistema de optimización de asignación de camareros para eventos.\n\nOBJETIVO:\nSeleccionar EXACTAMENTE N camareros maximizando la suma total de score_general.\n\nREGLAS OBLIGATORIAS:\n- Selecciona exactamente {{ $json.eventos[0].camareros_necesarios }} camareros\n- Debe haber al menos {{ Math.ceil($json.eventos[0].camareros_necesarios / 5) }} camareros con coche\n- Maximiza la suma total de \"score_general\"\n- No inventes datos\n- Solo puedes elegir teléfonos que aparezcan en la lista de candidatos\n- No puedes devolver teléfonos vacíos\n\nDATOS:\nEvento:\n{{ JSON.stringify($json[\"eventos\"][0]) }}\n\nCandidatos:\n{{ JSON.stringify($json[\"camareros_validos\"]) }}\n\nINSTRUCCIONES:\n1. Ordena mentalmente los candidatos por score_general de mayor a menor\n2. Selecciona los mejores cumpliendo TODAS las restricciones\n3. No hagas elecciones aleatorias\n4. No elijas candidatos con peor score_general si hay otros mejores disponibles\n5. Asegúrate de que todos los teléfonos seleccionados existen en los candidatos\n\nFORMATO DE RESPUESTA OBLIGATORIO:\n{\n  \"event_id\": \"{{ $json.eventos[0].event_id }}\",\n  \"asignados\": [\n    { \"telefono\": \"...\" },\n    { \"telefono\": \"...\" }\n  ]\n}\n\nPROHIBIDO:\n- Explicaciones\n- Markdown\n- Texto fuera del JSON"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        960,
        0
      ],
      "id": "4e7f39d6-01b9-4344-acd3-3e98c6562fcc",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "rhvYGIztTMPYbAyB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Encuesta",
            "type": "main",
            "index": 0
          },
          {
            "node": "BD_Camareros",
            "type": "main",
            "index": 0
          },
          {
            "node": "Eventos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encuesta": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BD_Camareros": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eventos": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c592d83e-3333-453c-b019-44a768eb2e57",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26c38233468d8e9930ab5c413502b4f174f1979bf2277e5f5d0698d361bd737f"
  },
  "id": "0mjRI5laZShHE6TD",
  "tags": []
}
